@model EpiSandbox.Web.Models.Blocks.ChefBlock

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="chef-member">
        <div class="member-img">
          <img src="@Url.ContentUrl(Model.Image)" class="img-fluid" alt="">
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info">
          <h4>@Html.PropertyFor(x => x.Name)</h4>
          <span>@Html.PropertyFor(x => x.Title)</span>
          @Html.PropertyFor(x => x.Info)
        </div>
      </div>
    </div><!-- End Chefs Member -->
