@model EpiSandbox.Web.Models.Blocks.GalleryBlock

<div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="@Url.ContentUrl(Model.Image)"><img src="@Url.ContentUrl(Model.Image)" class="img-fluid" alt=""></a></div>

