@using EpiSandbox.Web.Models.Pages
@model EpiSandbox.Web.Models.ViewModels.PageViewModel<ChefPage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs section-bg">
  <div class="container" data-aos="fade-up">

    @Html.PropertyFor(x => x.Page.HeaderBlock)
    
    <div class="row gy-4">
        @Html.PropertyFor(x => x.Page.Chefs, new { HasContainer = false, HasItemContainer = false})
    </div>
  </div>
</section><!-- End Chefs Section -->