@model EpiSandbox.Web.Models.Blocks.HeaderBlock

<div class="section-header mt-3">
  <h2>@Html.PropertyFor(x => x.Title)</h2>
  <p>@Html.PropertyFor(x => x.TextBlack) <span>@Html.PropertyFor(x => x.TextRed)</span></p>
</div>