@using EpiSandbox.Web.Models.Pages
@model EpiSandbox.Web.Models.ViewModels.PageViewModel<GalleryPage>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
  <div class="container" data-aos="fade-up">
    @Html.PropertyFor(x => x.Page.HeaderBlock)
    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        @Html.PropertyFor(x => x.Page.Images, new { HasContainer = false, HasItemContainer = false})
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section><!-- End Gallery Section -->